<div id="stocks-show">
  <div class="container">
    <div class="well">
      <h2>
        <%= @stock.name %>
        <%= link_to stock_path(@stock), data: { confirm: "This will delete #{@stock.name} and all transactions.", method: :delete } do %>
          <span class="hidden">Delete Review</span>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </h2>
      <h3><%= number_to_currency(@stock.last_updated_price) %></h3>
      <p><%= @stock.description %></p>
      <h5>Value: <%= number_to_currency(@stock.value) %></h5>
      <h5>Quantity: <%= @stock.quantity %></h5>
      <h5>Cost: <%= number_to_currency(@stock.cost) %></h5>
      <h5>Change: <%= @stock.change %>%</h5>
    </div>


    <h2>Transactions</h2>
    <%= link_to "Add Transaction", new_stock_transaction_path(@stock), class: "btn btn-default" %>

    <div class="stock-transactions">
      <% @stock.transactions.each do |transaction| %>
        <div class="well stock-transaction">
          <%= link_to edit_stock_transaction_path(@stock, transaction) do %>
            <h4><%= transaction.date %></h4>
            <p><%= transaction.quantity %> @ <%= number_to_currency(transaction.price) %></p>
            <p><%= number_to_currency(transaction.total) %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>