<div class="well">
  <h2><%= @stock.name %></h2>
  <h3><%= number_to_currency(current_price(@stock)) %></h3>
  <p><%= @stock.description %></p>
</div>


<h2>Transactions</h2>
<%= link_to "Add Transaction", new_stock_transaction_path(@stock), class: "btn btn-default" %>

<% @stock.transactions.each do |transaction| %>
  <%= link_to edit_stock_transaction_path(@stock, transaction) do %>
    <h4><%= transaction.date %></h5>
    <h5><%= transaction.quantity %> @ <%= number_to_currency(transaction.price) %></h4>
  <% end %>
<% end %>
