<h2>Stocks To Purchase with <%= number_to_currency(@stocks_to_buy.budget)%></h2>

<% @stocks_to_buy.stocks_within_budget.each do | stock | %>
  <h3><%= stock.fetch(:stock).name %></h3>
  <h4><%= stock.fetch(:quantity) %> @ <%= number_to_currency(stock.fetch(:stock).last_updated_price) %><h4>
<% end %>

<h3>Total <%= number_to_currency(@stocks_to_buy.total) %></h3>