<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>greenspark</title>

    <%= favicon_link_tag 'favicon.png' %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% unless current_page?(root_path) %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= render 'layouts/login_paths'%>

    <% if notice %>
      <div class="container notices">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="container notices">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>


    <%= yield %>


  </body>
</html>
